STM32CubeIDE/Debug
STM32CubeIDE/Release
STM32CubeIDE/.settings
STM32CubeIDE/*.launch
*.d
*.o
*.cyclo
*.su
EWARM\Debug
EWARM\Release
MDK-ARM\Listings
MDK-ARM\Objects
*.pbd
*.pbi.dep
*.pbw
*.xcl
*.pbd.browse
*.xcl*.bat
*.ninja_deps
*.ninja_log
build.ninja
build.ninja_deps
*.cspy.ps1
*.pbi
*.Debug.cspy.bat
*.Release.cspy.bat
*.scr
*.dnx
*.build_log.htm
/EWARM/settings/SimpleSerialTL.crun
/EWARM/settings/SimpleSerialTL.dbgdt
/EWARM/settings/SimpleSerialTL.wsdt
/MDK-ARM/Objects/SimpleSerialTL_SSTL_ASPEP_SLAVE.dep
